<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td>Introduction, Acknowledgement of Country and <a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:15</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">The UNIX Shell</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">The UNIX Shell (continued)</a></td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:30</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git (continued)</a></td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up -- <a href="https://swcarpentry.github.io/python-novice-inflammation/#obtain-lesson-materials">Setup for Day 2</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python (continued)</a></td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python (continued)</a></td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:30</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python (continued)</a></td> </tr>
      <tr> <td>16:40</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:50</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
